## emacs files #
.emacs
*.elc
*.el~

## latex files #
auto/*
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.toc
*.pdfsync
*.ps
weka/*.pdf
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
_region_.tex


## java files
*.class
*.jar
*.war
*.ear
.project
.classpath


## ignore below directory types
#./*/target/
#./*/test-output/

## ignore below directories
fnlp/
soul_seg/
soul-core/
soul-client/
hadoop-2.4.0/
